@charset "utf-8";

body {
	width:720px;
	margin:0 auto;
	background-color:#333;
}

.site-content .container {
	padding:1.5em 1%;
}

.project a h3,
.post a h3 {
	color:#333;
}

.writing-links {
	width:100%;
}